*{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
}
body{
    /* background-color: rgb(40, 252, 174); */
    background-color: rgb(31, 30, 30);
}
.bkg{
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 0.15;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
#title h3{
font-size: 30px;
    border-bottom: 3px solid rgb(255, 98, 0);
}

.container{
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #262626;
    border: 5px solid rgb(255, 98, 0);
    border-radius: 5px;
}
#regform{
    width: 850px;
    display: flex;
    flex-direction: column;
}
label{
    color: white;
}
.Name{
    margin-bottom: 10px;
}
.date{
    margin-bottom: 10px;
}
.mail{
    margin-bottom: 10px;
}
.address{
    margin-bottom: 10px;
}
.sportselection{
    margin-bottom: 10px;
}
.contact{
    margin-bottom: 10px;
}
.dp{
    margin-bottom: 10px;
}
.ldetail{
    margin-bottom: 5px;
}
.date_gen{
    display: flex;
    flex-direction: row;
}
.gen{
    margin-left: 20px;
}
input[type="radio"] {
    vertical-align: middle;
  }
  input[type="checkbox"] {
    vertical-align: middle;
  }
.sport{
    display: flex;
    margin-top: 5px;
}
.lab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.check{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
#submit{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(255, 98, 0);
}   
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login:hover{
    color: rgb(255, 98, 0);
}
.else{
    color: rgb(255, 98, 0);
}
#error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#error_msg{
    color: rgb(255, 98, 0);

}