:root {
    --primary-color: #1b2330;
    --font-size: 16px;
    --primary-back-color:rgb(245, 245, 245);
}
*{
    margin: 0%;
    padding: 0%;
    font-family: "Oswald", sans-serif;
    background-color: var(--primary-back-color);
}