.tournament_list_item{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(19, 19, 39);
    color: white;
    border-radius: 3px;
    margin: 20px;
}
.t-regis-btn{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}
.t-regis-btn:hover{
    cursor: pointer;
}
.error{
    height: 50px;
    display: none;
    border: 2px solid green;
    background-color: rgba(201,242,155,.5);
    position: absolute;
    left: 40%;
    width: 300px;
}
.error>p{
    color: green;
}